  
/* we push the content down some and clean up the edges on mobile devices */
@media (max-width: 767px) {
    .content {
      padding: 15px;
      margin-top: 40px;
    }
    #navbar-right {
      float: right;
      width: 0px; /* You can adjust the width to your liking, just remember to also adjust the content margin below accordingly */
      height: 0px;
    }
    .site-title {
    margin-bottom: 0px;
    }
    .h3, h3 {
    font-size: 1.7rem;
    margin-top: 15px;
    }
    .submit{
      display: none;
    }

}
 
/* When we were on larger screen sizes we can show our vertical menu bar */
@media (min-width: 768px) {
    /* clean up some of the default Bootstrap styles for panels in the menu */
    #menu-bar .panel {
      margin-bottom: 0;
      border: none;
      border-radius: 0;
      -webkit-box-shadow: none;
      -box-shadow: none;
    }
 
    #navbar-left{
      float: left;
      width: 200px; /* You can adjust the width to your liking, just remember to also adjust the content margin below accordingly */
      height: 100%;
    }
    #navbar-right {
      float: right;
      width: 150px; /* You can adjust the width to your liking, just remember to also adjust the content margin below accordingly */
      height: 100%;
    }
 
    .content, .create-message{
      margin: 0 150px 0 200px; /* If you adjusted the width above you will need to adjust this as well */
    }

    .content{
      min-height: 100%;
    }
   
    .container {
      /*margin: 0px 25px;*/
      width: 100%;
    }
}
.site-title{
  margin-bottom: 20px;
}

a:hover .site-title {
  color: #fff;
}

.login-title{
  font-size: 20px;
  text-transform: uppercase;
}

.navbar-btn{
  margin: 5px 0;
  padding: 0 7px;
}

.container {
}

.nav {
  margin-bottom: 30px;
}
.navbar-form{
  text-align: center;
  font-size: 10px;
  margin-bottom: 20px;
}

.navbar-form .form-control {
  width: 80%;
  height: 20px;
  margin-bottom: 10px;
  text-align: center;
  padding: 0;
}

.form-nav .btn{
  font-size: 10px;
}

.navbar-header {
  float: none;
  text-align: center;
}

.navbar-collapse.collapse {
  color: #EEEEEE;
}

.navbar-fixed-top-left {
  position: fixed;
  right: 0px;
  left: 0px;
  z-index: 1030;
}

.navbar-fixed-top-right {
  position: fixed;
  right: 0px;
  /*left: 0px;*/
  z-index: 1030;
  top: 0px;
}

.container, .center-create-message {
  padding-top: 0px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  max-width: 750px;
}

.wrapper-create-message{
    position: fixed;
    // height: 100px;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    right: 0;
}

.create-message{
  background-color: #EEEEEE;
  padding: 5px 0 7px;
  border-top: 1px solid #ccc;
}

a {
  color: #EEEEEE;
  text-decoration: none;
  text-align: center;
}

a:focus, a:hover {
  color: #333;
  text-decoration: none;
  font-weight: 700;
}

.js_list a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

.js_list a:focus, a:hover {
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

.login-list{
  text-transform: capitalize;    
}

.form_create_message{
  display: inline-block;
}

li .login-list a, li .login-list span{
  display: inline-block;
}


.right{
  display: inline-block;
  background-color: rgba(94, 181, 42, 0.51);
  border-radius: 6px;
  padding: 5px 15px;
  margin-bottom: 10px;
  font-weight: 500;
  max-width: 90%;
  text-align: justify;
  word-wrap: break-word;
}

.left{
  display: inline-block;
  background-color: #EEE;
  border-radius: 6px;
  padding: 5px 15px;
  margin-bottom: 10px;
  font-weight: 500;
  max-width: 90%;
  text-align: justify;
  word-wrap: break-word;
}

.name-message{
  font-size: 11px;
  padding-bottom: 2px;
  text-transform: capitalize;
}

.heure-message{
  /*margin-top: 5px;*/
  font-size: 9px;
  text-align: right;
}

.modal-header{
  border-bottom: none;
}

.btn_nue{
  border: none;
  background: none;
  font-size: 1.2em;
  text-align: center;
  width: 100%;
}
// .wrapper-messages{
//   position: relative;
// }

.js_list{
  margin-bottom: 50px;
  // overflow-y: scroll;
}

.form-control:focus {
  border: 1px solid #ccc;
  box-shadow: none;
}

.form_create_message.glyphicon {
  font-size: 2.5rem;
  color: #ccc;
}

button{
  border: none;
  padding: 4px 0;
  background: none;
}